* {/* o * representa que a conf vai ser em todos os elementos*/
    /*garante que os elementos respeite, as dimensões quando possuem padding e border
    */
    box-sizing: border-box;
}

body {
    font-family: 'Arial' , sans-serif;
    margin: 0; /*evitar q o txt fique colado na borda da pg*/
}

/*criar uma classe*/
.my-button {
    background-color: #4caf50;
    border: none;
    color: white;
    padding:16px 24px;
    font-size: 16px;
    margin: 6px 4px;
    cursor: pointer;
    border-radius: 6px;

}

.my-button:hover {
    background-color: cadetblue;
}

.my-button-azul {
    background-color:cornflowerblue;
}

.my-table {
    width: 400px;
    border-collapse: collapse;
    margin: auto;
}

/*estiliza so td e th dentro de my-table*/
.my-table td, .my-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.my-table th {
    background-color: cornflowerblue;
    padding: 12px 0;
    color: white

}

.my-table tr:hover {
    background-color: #ddd;
}

/*even é par , odd= ímpar
Aplica o estilo aos tr par
*/
.my-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.my-table td {
    text-align: center;
    height: 50px;
}

/* cCUSTOMIZANDO FORMULÁRIO*/

.my-form {
    border-radius: 6px;
    background-color: #f2f2f2;
    padding: 20px 16px;
    width: 300px;
    margin: auto;

}

.my-form input {
    width: 100%;
    padding: 12px 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

::placeholder {
    color: #4caf50;
}

.toda-largura {
    width: 100%;
    margin: 6px 0;
}

.my-form-group {
    margin-bottom: 6px;
}

h3 {
    text-align: center;
    background-color: red;
}